@page "/todo"
@rendermode InteractiveServer

<h3>Todo</h3>

@* Todo list class *@
@code {
    private List<TodoItem> todos = new(); // List of todos
    string newTodo = ""; // New todo field

    //! @brief Adds new TodoItem to todos list using newTodo then resets newTodo
    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}

@* Render list of todos *@
<ul>
    @foreach (var todo in todos)
    {
        <li>@todo.Title</li>
    }
</ul>

@* Add input tag and button below the unordered list *@
<input @bind="newTodo" /> 
@* // bind newTodo string field to input *@
<button @onclick="AddTodo">Add todo</button>
@* bind newTodo to onclick handler to call AddTodo *@